<div id="<%= dom_id director %>">
  <p>
    <strong>Name:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= director.dob %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= director.bio %>
  </p>

</div>
